:root{
    --hero-image: url('code.jpg');
    --color-light: white;
    --color-dark: #212121;
    --color-signal: #fab700; 
}



html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}


*,
*:after,
*:before{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: black;
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


a {
    color: orange;
    transition: color 0.3s ease;
    text-decoration: none;
}


a:hover {
    color: #00b0ff;
}


h2 > a{
    color: orange !important;
}

h3{
    margin: 0 auto;
    text-align: center;
}


img {
    max-width: 100%;
    height: auto;
}


.error{
    padding: 1rem;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #dc3545;
}


.error mark {
    padding: .5rem;
    border-radius: .5rem;
    display: inline-block;
    color: #fff;
    background-color: #01579b;
}


.form-search{
    margin: auto;
    text-align: center;
}


.form-search input {
    display: block;
    margin: auto;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}


.header{
    padding: 0.5rem;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px -3px 19px rgb(92, 143, 145);
    background: rgb(189,189,189);
    background: linear-gradient(225deg, rgba(189,189,189,1) 0%, rgb(110, 110, 110) 10%, rgba(19,10,0,1) 80%);
}


.header-item{
    min-width: 49%;
    margin: 1rem auto;
    text-align: center;
}

.header a {
    font-weight: 600;
    color: lightgrey;
}

.header a:hover{
    color: orange;
}







.grid-fluid{
    
    margin: 1rem auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}


.loader{
    margin: 1rem auto;
    display: block;
    width: 4rem;
    height: 4rem;
}



.page-section{
    background: rgb(174,196,235);
    background: linear-gradient(180deg, rgba(174,196,235,1) 7%, rgba(218,218,218,1) 86%);
    border-radius: 5px;
    padding: 1.3rem;
}




.post-card {
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    border-radius: 5px;
    background: rgb(174,196,235);
    background: linear-gradient(180deg, rgba(174,196,235,1) 7%, rgba(218,218,218,1) 86%);
}


.post-card p{
    display: flex;
    justify-content: space-between;
}


.post-page {
    margin: 1rem auto;
    padding: 1rem auto;
    width: 80%;
    border-radius: 5px;
    background: rgb(174,196,235);
    background: linear-gradient(180deg, rgba(174,196,235,1) 7%, rgba(218,218,218,1) 86%);
}


.post-page > aside{
    margin: auto;
    width: 60%;
    text-align: center;
}


.post-page > hr {
    border: thin solid #cfd8cc;
    margin: 2rem auto;
    width: 80%;
}


.post-page time {
    margin: 1rem auto;
    display: block;
}


.post-page >article {
    padding: 0 2rem;
}


.post-page img,
.post-page audio,
.post-page iframe,
.post-page video,
.post-page figure {
    margin: auto;
    display: block;
    max-width: 100%;
}



#root{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.30)
}




.search-form > input{
    text-align: center;
    width: 30%;
    height: 2rem;
    border-radius: 3px;
    border: 1px solid orange;
    margin: inline 10px;
}